/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.doctor-appointment/public/images/
public/profile/1722855608.jpg
public/profile/1722854242.JPG
.gitignore
public/doctors/doctor.png
